*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mag{
    display: flex;
    justify-content: center;
}

h5{
    display:flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
}